

.star svg {
	margin-right: 5px;
}

.editable {
	cursor: pointer;
}

.error svg  {
	fill: var(--red);
}

.ratingWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: -62px;
	color:var(--red)
}

.filed svg {
	fill: var(--primary);
}




