.sortIcon {
  display: none;
}

.active {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-weight: bold;
}

.active .sortIcon {
  display: block;
  margin-right: 8px;
}

.sort {
  display: inline-block;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 40px;
  cursor: pointer;
}

.sort span {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 0 8px;
}

.sortName {
  display: none;
}

.sort span:not(.active) {
  grid-template-columns: 1fr;
}
