html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #F5F6F8;

	font-family: 'Noto Sans Display',
	sans-serif;

}

a, button, div {
	outline-color: var(--primary);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: #fff;
	--gray-light: #ebebeb;
	--gray-dark: #787d85;
	--gray: #A4A4A4;
	--primary: #5e37f8;
	--primary-hover: #502ddb;
	--red: #DE0000;
	--red-light: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans Display',sans-serif;
}
